.top{
  margin: 0;
  background-color: #FFE7CC;
  padding-top: 50px;
}
.middle{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(237, 229, 243);
}
.topC{
  position: relative;
  left: 20%;
}
.bottomC{
  position: relative;
  right: 20%;
}
.bottom{
}
body{
  text-align: center;
}
li{
  list-style: none;
}
h1{
  font-family: 'Charm', cursive;
  font-size: 5.625rem;
  color: #11999E;
  margin: 0 auto 0;
  line-height: 2;
}
h2{
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  color: #3F2305;
  margin: 0 auto 0;
  font-weight: normal;
}
a{
  color: #11999E;
}
h3{
  color: #853030;
}
hr{
  height: 3px;
  color: #3F2305;
}
a.link{
  color: #ee0e1d;
}




/*.top{
  width: 200px;
  height: 200px;
  background-color: grey;
  padding: 20px;
  border: solid;
  border-width: 10px;

}
.middle{
  width: 200px;
  height: 200px;
  border: solid;
  border-width: 20px;
  background-color: red;
  margin-left: 260px;
}
.bottom{
  width: 200px;
  height: 200px;
  border: solid;
  border-width: 10px;
  background-color: yellow;
  margin-left: 500px;
}
*/
